.footer-bar{
    position: absolute;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    height: 182px;
    top: 1983px;
}
.footer-bar__img{
    margin-bottom: 26px;
}
.footer-bar__img:not(:last-child){
    padding-right: 35px;
}