.presentation-bar{
    position: absolute;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    height: 170.86px;
    top: 83px;
}
.presentation-bar__avatar{
    width: 150px;
}
.presentation-bar__button{
    width: 208px;
    height: 47px;
    left: 83px;
    top: 561px;
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #fff;
    background: #FF6464;
    border: none;
    border-radius: 2px;
}